## Decision Tree Exercise

In [36]:
import pandas as pd

In [37]:
data = pd.read_csv("Datasets/titanic.csv")

In [38]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [39]:
New_Data = data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Survived'],axis= 'columns')

In [40]:
New_Data.head(2)

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C

In [41]:
Ind_Variable = New_Data[['Pclass','Sex','Age','Fare','Embarked']]
Dep_Variable = data['Survived']

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
LE_Sex = LabelEncoder()
LE_Embarked = LabelEncoder()

In [44]:
New_Data['Sex_n'] = LE_Sex.fit_transform(New_Data['Sex'])
New_Data['Class_n'] = LE_Embarked.fit_transform(New_Data['Embarked'])

In [45]:
New_Data.head()

   Pclass     Sex   Age     Fare Embarked  Sex_n  Class_n
0       3    male  22.0   7.2500        S      1        2
1       1  female  38.0  71.2833        C      0        0
2       3  female  26.0   7.9250        S      0        2
3       1  female  35.0  53.1000        S      0        2
4       3    male  35.0   8.0500        S      1        2

In [46]:
New_Data.drop(['Sex','Embarked'],axis='columns', inplace= True)

In [47]:
New_Data.head()

   Pclass   Age     Fare  Sex_n  Class_n
0       3  22.0   7.2500      1        2
1       1  38.0  71.2833      0        0
2       3  26.0   7.9250      0        2
3       1  35.0  53.1000      0        2
4       3  35.0   8.0500      1        2

In [48]:
from sklearn import tree

In [49]:
Decision_Model = tree.DecisionTreeClassifier()
Decision_Model.fit(New_Data,Dep_Variable)

DecisionTreeClassifier()

In [50]:
New_Data.head(2)

   Pclass   Age     Fare  Sex_n  Class_n
0       3  22.0   7.2500      1        2
1       1  38.0  71.2833      0        0

In [51]:
Decision_Model.predict([[2,33,14.233,0,1]])

d:\Users\mdadn\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [52]:
Decision_Model.score(New_Data, Dep_Variable)

0.8810325476992144